body{
    padding: 10px;
    margin: 50px;
    min-height: 100px;
    overflow-x:hidden ;
}
nav ul{
   list-style-type: none;
   display: inline-flex;
   text-decoration:none;
   padding: 50;
   margin: 100;
}
    nav ul li  a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: black;
        font-weight: bolder;
        text-decoration:none;
        margin: 10px;
        padding: 10px;
        padding-bottom: 50px;
    }
    .header{
        background-color: black;
        border-style:solid ;
        padding:4px;
        border-width: 20px; 
        border-color: black; 
    }  
    .boutton{
        padding-left: 40px;
    }
    .hero{
        position: absolute;
        margin: 0;
        padding-left: 1500px;
        top: 130px;
    }
h1{
    color:white;
    padding-top: 10px;
    padding-left: 40px;
}
.header p{
    color:white;
    padding-left: 40px;
}
.img{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap ;
    justify-content: space-between;
   justify-items: center;
    padding-bottom: 40px;
    padding-top: 60px;
  
}
.container p{
color: black;

}
.container{
    flex-basis: 25%;
    padding-right:2px ;
}
nav{
    display: flex;
}
.box{
    margin-left: 90px;
    margin-top: 60px;
    width: 20em;
    flex-basis: 50%;
}
.monBoutton{
    padding-top: 500px;
    padding-righT: 50px;
    text-align: center;
    
}
select {
    font-size: .9rem;
    padding: 2px 5px;
    border: none;
}
.log{
    padding-left: 960px;
}
.invitation{
    padding-left:10px;
}
.border{
   background-color: black;
        border-style:solid ;
        padding: 4px;
        border-width: 60px; 
        border-color: black; 
}
.border li{
    color: white;
    list-style-type: none;
}
.border h1{
    padding:0px;
}
.login{
    position: absolute;
         margin: 0px;
        padding-left: 1300px;
        top: 1060px;
}
.images{
    padding-top: 60px;
    display:inline-flex;
}
.border2{
    background-color: black;
    border-width: 40px
}
.border2 p{
    color: white;
    padding-top: 50px;
}
.border2 ul{
    color:white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 30px 300px;

}
.grid-item{

padding: 10px;}
.grid img{
width: 300%;
}
.grid__item5{
    padding-left: 100px;;
}
.grid__item4{
    padding-right: 100px;;
}